<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <h1><a href="/">Mail Everyday</a></h1>
</div>
<div class="container">

    <form action="/newkeyword" method="post">
        <div class="form-group">
            <label for="keyword">키워드</label>
            <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력하세요">
            <label for="vacationres">부재시 응답문자</label>
            <input type="text" id="vacationres" name="vacationres" placeholder="응답문자를 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div>

</body>
</html>