{{>layout/header}}
{{#error}}
    <script>
        var msg = "{{error}}";
        var url = "/";
        alert(msg);
        location.href = url;
    </script>
{{/error}}

    <h1>Keyword List</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/" class="btn btn-outline-info" role="button">Home</a>
                <a href="/keywords/save" class="btn btn-outline-primary" role="button">Add</a>
            </div>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <thead class="thead-strong"></thead>
        <tr>
            <th>No.</th>
            <th>Keyword</th>
            <th>Message</th>
            <th>Active</th>
            <th class="text-center">Vacation Mode</th>
            <th>Remove</th>
        </tr>
        <tbody id="tbody">
        <!-- TEST -->
        <!--
        <tr>
            <td>1</td>
            <td>recruit</td>
            <td>thanks, I'll contact you soon!</td>
            <td><input type="checkbox" checked data-toggle="toggle" data-size="sm"></td>
            <td class="text-center"><input type="checkbox" checked data-toggle="toggle" data-size="sm"></td>
            <td><a href="/keywords/delete/1">remove</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>notice</td>
            <td>I got it!</td>
            <td><input type="checkbox" checked data-toggle="toggle" data-size="sm" value="false"></td>
            <td class="text-center"><input type="checkbox" data-toggle="toggle" data-size="sm" value="true"></td>
            <td><a href="/keywords/delete/2">remove</a></td>
        </tr>
        -->
        <!-- TEST END -->
        {{#keywords}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/keywords/{{id}}">{{keyword}}</a></td>
                <td>{{vacationResponse}}</td>
                <td><input type="checkbox" class="switch_checkbox" data-toggle="toggle" data-size="sm" value="{{active}}"></td>
                <td class="text-center"><input type="checkbox" class="switch_checkbox" data-toggle="toggle" data-size="sm" value="{{vacation}}"></td>
                <td><button type="button" class="btn btn-link btn-delete" value="{{id}}">delete</button></td>
            </tr>
        {{/keywords}}
        </tbody>
    </table>
<script>
    var checkbox = document.getElementsByClassName("switch_checkbox");

    for (var i = 0; i < checkbox.length; i++) {
        if (checkbox[i].value === "true") {
            checkbox[i].checked = true;
        }
    }
</script>
{{>layout/footer}}