<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <h1><a href="/">Mail Everyday</a></h1>
</div>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>활성화 </th>
                <th>키워드 </th>
                <th>등록일 </th>
                <th>휴가모드 </th>
                <th>휴가응답메세지 </th>
                <th>서치범위</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="keywordList : ${keywordLists}">
                <td th:text="${keywordList.active}"></td>
                <td th:text="${keywordList.keyword}"></td>
                <td th:text="${keywordList.registrationDate}"></td>
                <td th:text="${keywordList.vacation}"></td>
                <td th:text="${keywordList.vacationResponse}"></td>
                <td th:text="${keywordList.filterType}"></td>
                <td>
                    <a th:href="@{'/keyword/edit/' + ${keywordList.id}}">
                        <button>수정</button>
                    </a>
                </td>
                <td>
                    <form id="delete-form" th:action="@{'/delete/' + ${keywordList.id}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button id="delete-btn">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:if="${session.email != null}" href="/newkeyword">새 키워드 등록</a>
    </div>
</div>
</body>
</html>